/* AboutUs.css */

/* Reset and Variables */
:root {
  --primary-color: #005f73;
  --hover-color: #00495a;
  --background-color: #f9f9f9;
  --text-color: #333;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: var(--background-color);
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 30px; /* Fully rounded */
  transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover,
.active-link {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Main Content */
.main-content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.about-section,
.vision-and-services,
.contact-section {
  margin-bottom: 40px;
  text-align: center;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Slightly rounded corners for the image */
}

.section-heading {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: bold;
}

p, ul {
  margin-bottom: 20px;
}

ul {
  list-style-type: none; /* No bullets */
  padding-left: 0; /* No padding */
}

li::before {
  content: '•';
  color: var(--primary-color);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact-item {
  margin: 10px;
}

.social-media-links a {
  margin-right: 15px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: var(--background-color);
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .nav-link {
    margin-bottom: 10px;
  }
  
  .contact-section {
    flex-direction: column;
    align-items: center;
  }
}
